<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <h3>Test Page 1 (Home Controller)</h3>
        <br /><br />
    </div>
</div>


<partial name="/Views/Shared/Common.cshtml" />



<div class="row" style="padding-top:3.0em">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Page Options For Test Page 1</h3>
    </div>
</div>


<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-4">
        Refresh:
    </div>
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-8 col-xs-8">
        <a href="/Home/Test1">Reload This Page (Home Controller)</a>
    </div>
</div>

<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-4">
        Index
    </div>
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-8 col-xs-8">
        <a href="/home/Index">Return To Index (Home Controller)</a>
    </div>
</div>

<div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-xs-4">
        Quit:
    </div>
    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-8 col-xs-8">
        <a href="/home/Logout">Logout</a>
    </div>
</div>


